<section class="_sidebar-content">
<div class="badge-container">
    <a href='https://play.google.com/store/apps/details?id=org.saravanakumar.es6&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
        <img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="240px" height="95px" />
    </a>
</div>
    <div class="sa-ads">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- github_pages _responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2445138966914411"
     data-ad-slot="6757193203"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    
    
   <div class="sa-ads">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- github_pages _responsive_2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2445138966914411"
     data-ad-slot="6680664406"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
   </div>
   
</section>
