html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.es6-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.es6-main {
  margin-top: -35vh;
  flex-shrink: 0;
  width: 100%;
}

.es6-header .mdl-layout__header-row {
  padding-left: 40px;
}

.es6-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.es6-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.es6-layout.is-small-screen .es6-content {
  padding: 40px 28px;
}

.es6-content h3 {
  margin-top: 48px;
}

.es6-footer {
  padding-left: 40px;
}

.es6-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

a {
  text-decoration: none;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.toc {
  border-left: 4px solid #C1EEF4;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
}
.toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.toc a {
  color: #4DD0E1;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}

.badge-container {
  text-align: center;
}